
:root {
  --bg-color: rgb(162, 217, 206);
  --bg-dark: rgb(9, 68, 56);
  --text-dark: #e0e0e0;
  --maroon-clr: maroon;
}

html {
  height: 100%;
}

 body { 
  position: fixed;
  font-family: "Geologica", Verdana, Geneva, Tahoma sans-serif;
  color: #2c3e50;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: default;
  user-select: none;
  background-color: var(--bg-color);
}

.dark {
  --maroon-clr: sienna;
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.notes {
  margin: auto;
  width: 80%;
  position: fixed;
  top: 60%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  background-color: var(--bg-color);
}

.dark .notes {
  background-color: var(--bg-dark);
}

.note {
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
    -webkit-tap-highlight-color: transparent;
  font-size: clamp(3rem, 0.375rem + 10vw, 6rem);
}

.note.active {
  color: var(--maroon-clr);
  animation-name: freq-animation;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.notes-list {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  white-space: nowrap;
  -ms-overflow-style: none;


  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0),
    #fff,
    rgba(255, 255, 255, 0)
  );

  mask-image: linear-gradient(
    left,
    rgba(255, 255, 255, 0),
    #fff,
    rgba(255, 255, 255, 0)
  );

}

.notes-list::-webkit-scrollbar {
  display: none;
}


.note span {
  position: absolute;
  /* right: 0.25em; */
  font-size: 40%;
  font-weight: normal;
}

.note-sharp {
  /* left: 1.5em; */
  top: 0em;
}

.note-octave {
  /* left: 1.5em; */
  bottom: 0.2em;
}

.frequency {
  font-size: 2rem;
  font-size: clamp(1.5rem, -0.375rem + 6vw, 3rem);
  font-weight: 900;
}

.frequency span {
  font-size: 50%;
  margin-left: 0.25em;
}

.meter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40%;
  width: 100%;
  height: 40%;
  margin: 0 auto 5vh auto;
}

.meter-pointer {
  width: 4px;
  height: 100%;
    background-color: var(--maroon-clr);
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%;
}

.meter-dot {
  width: 12px;
  height: 12px;
  background-color: var(--maroon-clr);
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: 50%;
  margin-right: -5px;
}

.meter-scale {
  width: 2px;
  height: 100%;
  transform-origin: bottom;
  transition: transform 0.2s;
  box-sizing: border-box;
  border-top: 10px solid;
  position: absolute;
  right: 50%;
}

.meter-scale-strong {
  width: 4px;
  border-top-width: 20px;
}

.frequency-bars {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.swal-button {
  background: #2c3e50;
}

.a4 {
  /* position: absolute;
  top: 1rem;
  left: 1rem; */
  /* font-size: 1.5rem; */
  font-size: clamp(1.2rem, 0.2rem + 3.2vw, 2rem);
  font-weight: 900;
}

@keyframes freq-animation {
  from {
    transform: scale(0.96);
  }

  to {
    transform: scale(1.04);
  }
}

.a4 span {
  display: inline-block;
  color: var(--maroon-clr);
  cursor: pointer;
  white-space: nowrap;
  animation-name: freq-animation;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

}

.auto {
  /* position: absolute;
  top: 1rem;
  right: 1rem; */
  font-size: clamp(1.2rem, 0.2rem + 3.2vw, 2rem);
  font-weight: 900;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.auto div {
  white-space: nowrap;
}

#auto-checkbox {
  width: 1.5rem;
  aspect-ratio: 1;
  /* order: -1; */
  border: 0 transparent;
  box-sizing: border-box;
  accent-color: black;
}


.container {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (hover: none) and (pointer: coarse) and (width<= 500px) {
  .container {
      padding: 0.5rem;
    }

  .meter {
    height: 30%;
    width: 90%;
    bottom: 35%;
  }

  .notes {
    top: 70%;
    width: 90%;
  }
}

@media screen and (hover: none) and (pointer: coarse) and (height<= 500px) {
  .container {
    padding: 0.5rem;
  }

  .meter {
    height: 30%;
    width: 90%;
    bottom: 35%;
  }

  .notes {
    top: 70%;
    width: 90%;
  }

  .note, .frequency, .a4, .auto {
    font-size: 1.3rem;
  }

  .note {
    padding-right: 10px;
    padding-left: 0px;
  }

  .notes {
    width: 50%;
  }

  .meter {
    height: 50%;
  }
}
